<%page args="is_xseries_course, xseries_mktg_url, course_overview" />
<%!
    from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='../static_content.html'/>

<% xseries_link='<a href="#" target="_blank">Course Name</a>' %>
<div class="message message-status is-shown credit-message">
    <div class="xseries-action">
        <div class="message-copy xseries-msg">
            <p>
                <strong>${_("XSeries Program: Interested in more courses in this subject?")}</strong>
            <p>
            <p>
                ${_("This course is 1 of {total} courses in the {link_start}{course_display}{link_end}.").format(
                    total=is_xseries_course,
                    link_start='<a href="{}">'.format(xseries_mktg_url),
                    link_end='</a>',
                    course_display=course_overview.display_name_with_default,
            )}
            </p>

        </div>
        <div class="purchase_credit">
            <a class="btn xseries-btn" href="#" target="_blank">
                <i class="action-xseries-icon"></i>
                <span>
                    ${_("View XSeries Details")}
                </span>
            </a>
        </div>
    </div>
</div>

